


.group h2{ color: red;

}
.group h2{
    position: relative;
    color: red;
    margin-bottom: 45px
}
.group h2::before{
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 180px;
    bottom: -19px;
    right: 50%;
    background: black;
    transform: translateX(50%);
    border-radius: 50px;

    

}
.group h2::after{
    position: absolute;
    content: '';
    background: rgb(226, 226, 226);
    display: block;
    top: 40px;
    right: 50%;
    height: 30px;
    width: 30px;
    border: 2px black solid;
    border-radius: 50%;
    transform: translateX(50%);
}
.title h1{
color: white;
font-family: 'Roboto Slab', serif;

}
.group .k103{
    text-decoration: none;
    color: black;

}
.group .k103:hover{
    color: red;
}
.group h3{
    font-size: 18px;
}
.group h3 a{
    text-decoration: none;
    color: black;
    
}
.group h3 a:hover{
    color: darkcyan;
}


.group p span{
    color: red;
    font-size: 13px;
    
    
    
}
.group{
    background: rgb(226, 226, 226);
}
.group .k106 a{
    text-decoration: none;
    color: black; 
}
.footer{
    background: black;
    height: 40vh;
}
.footer .k107 img{
color: white;
border-radius: 50% 
}
.group .k105:hover {
    box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
padding-top: 15px;
}
.group .pos{
    color: yellow;
    position: absolute;
    border: 2px white solid;
    border-radius: 50%;
    background: red; 
    padding: 6px 0px;
    right: 3.5rem;
    top: .7rem;
    box-shadow: 0px 0px 10px red;
}
.group .img-fluid{
    position: relative;
}

 .button a{
    color: red;
    text-decoration: none;
}
.luong a{
    color:red;
}
.luong .button{
    margin-left: 3.5rem;
    background: black;
    border: none;
    border-radius: 10px 0px; 
}
.luong{
    background: black;
    
}
.luong p{
color: white;
font-size: 13px;
text-align: center;
padding-top: 5px
}
.hiv{
    height: 100vh;
}